.success-wrapper {
  width: 750px;
  margin: auto;
  padding-top: 10vh;
}
.success-wrapper .success-header {
  color: green;
  text-align: center;
}

@media (max-width: 750px) {
  .success-wrapper {
    width: auto;
    margin: auto;
    padding-top: 10vh;
  }
}
