.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    > div {
      margin-bottom: 20px;
    }
  }
}
