.orders table {
  width: 100%;
  thead {
    background: #000;
    color: #fff;
    th {
      padding: 10px;
      text-align: center;
    }
  }
  tr {
    td {
      padding: 10px;
      border-bottom: 1px solid #f0f0f0;
      text-align: center;
    }
  }
}
