.nav ul {
  display: flex;
  background: #ddd;
  list-style: none;
  padding: 10px 35px;
}
.nav ul li a {
  display: block;
  background: gray;
  color: #fff;
  padding: 5px 10px;
  margin-left: 5px;
  text-decoration: none;
}
.nav ul li a.active {
  background: #2e5ae5;
}